/* Begin reset */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Global styling */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; height: 100%;} 

body {
  font: 15px 'Circular Std', sans-serif;
  color: #25282b;
  background: #eaebec;
  height: 100%;
}

body > header > nav > ul li > a > svg {
	width: 25px;
	height: 25px;
}

.main-nav {
	background-color: #5ae1c0;
	position: fixed;
	top: 0;
	left: 0;
	padding: 32px;
}

	.profile-container {

	}

	.main-nav-links {

	}

main {
	max-width: 900px;
	margin: 0 auto;
}

	body > main article {
		background-color: #fff;
		margin-bottom: 32px;
		padding: 32px;
	}

		.album-wrapper {
			display: flex;
			flex-direction: row;
		}

		#photo-albums > div figure > img {
			width: 50%;
		}

		#photo-albums > div > figure:nth-child(2) > svg {
			width: 25px;
			height: 25px;
		}

footer {
	background-color: #cccccc;
	max-width: 900px;
	margin: 0 auto;
}

	.footer-content-wrap {
		padding: 32px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

		.footer-section-wrap {
			
		}