/* Begin reset */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Global styling */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; height: 100%;} 

body {
  font: 15px 'Circular Std', sans-serif;
  color: #25282b;
  background: #eaebec;
  height: 100%;
}

body > header > nav > ul li > a > svg {
	width: 25px;
	height: 25px;
}

.main-nav {
	background-color: #5ae1c0;
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 32px;
}

	@media (max-width: 1062px) {
		// .main-nav {
		// 	position: relative;
		// }
	}

	@media (max-width: 940px) {
		// .main-nav {
		// 	position: relative;
		// }
	}

	@media (max-width: 780px) {
		.main-nav {
			position: relative;
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.profile-container {
			width: 300px;
		}

		.main-nav-links {
			width: auto;
			margin-left: 32px;
		}
	}

	@media (max-width: 545px) {
		.main-nav {
			flex-direction: column;
		}

		.profile-container {
			width: 100%;
		}

		.main-nav-links {
			width: 100%;
		}
	}
 
		.profile-container {

		}

			.main-nav-links {

			}

main {
	width: calc(83% - 200px);
	position: relative;
	left: 232px;
	top: 0;
}

	@media (max-width: 1140px) {
		main {
			left: 232px;
			width: calc(100% - 262px);
		}
	}

	@media (max-width: 980px) {
		main {
			left: 200px;
			width: calc(100% - 200px);
		}
	}

	@media (max-width: 780px) {
		main {
			width: 100%;
			left: auto;
		}
	}

	body > header > div > figure > img {
		width: 100%;
		display: block;
	}

	body > main article {
		background-color: #fff;
		margin-bottom: 32px;
		padding: 32px;
	}

		body > main > article:nth-child(1) {
			margin-top: 32px;
		}

		.album-wrapper {
			display: flex;
			flex-direction: row;
		}

		#photo-albums > div figure > img {
			width: 100%;
			display: block;
		}

		#photo-albums > div > figure:nth-child(2) > svg {
			width: 25px;
			height: 25px;
		}

footer {
	background-color: #cccccc;
	margin-bottom: 32px;
	// max-width: 800px;
	// margin: 0 auto;
}

	@media (max-width: 940px) {
		
		.footer-section-wrap {
			width: 150px;
		}
	}

	@media (max-width: 780px) {

		.footer-content-wrap {
			width: 100%;
			flex-direction: column;
		}
	}

	.footer-content-wrap {
		padding: 32px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

		.footer-section-wrap {
			// width: 200px;
		}