/* Begin reset */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Global styling */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; height: 100%;} 

body {
  font: 15px sans-serif;
  color: #25282b;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  background: #fff;
  height: 100%;
  width: 170px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  z-index: 2;
  border-right: 1px solid #eaebec;
}

  header > nav {
    padding: 53px 23px 23px 23px;
  }

    header h1 {
      font-size: 18px;
      margin-bottom: 12px;
    }

    header > nav > a {
      color: #000;
    }

      header > nav > a:hover {
        text-decoration: none;
      }

      header > nav > ul li {
        margin-bottom: 8px;
      }

        header > nav > ul li:last-child {
          margin-bottom: 0;
        }

main {
  position: relative;
  background: #fff;
  width: 800px;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}

  main > article {
    padding: 53px;
  }

    main h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 36px;
    }

    main h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    main > article ul {
      list-style: square inside;
    }
  
    main > article section {
      margin-bottom: 26px;
    }